*{margin:0; padding:0;}
body{
    color: rgb(105, 103, 103);
    font-family:'Quicksand', sans-serif ;
}
p{
    text-align: justify;
}
img{
    margin-bottom: 6%;
}
#signin{
    width: 40%;
    margin-left: auto;
    margin-right: auto;

}
#signup{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#recetas{
    margin-top: 10px;
    margin-left: 8px;
    text-align: justify;

}
.bullets{
    margin-left: 3%;
}
.flipcontainer{
    position: relative;
    margin-bottom: 20px;

}

.flip-card{
    width: 200px;
    height: 200px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.flip-card:hover{
    transform: rotateY(180deg);

}

a{
    color: white;
   text-decoration-style: none;

}
a:hover{
    color: white;
    
    text-decoration: none;

}

.back{
    width: 200px;
    height: 200px;
    padding: 12%;
    background-color:  rgb(136, 135, 135);
    color: white;
    font-size: 2rem;
    text-align: center;
    transform: rotateY(180deg);
    display: flex;
        justify-content: center; 
        align-items: center;
    

}
.front, .back{
    position: absolute;
    backface-visibility: hidden;
}


