*{margin:0; padding:0;}
body{
    color: rgb(105, 103, 103);
    font-family:'Quicksand', sans-serif ;
    
}
p{
    text-align: justify;
}
img{
    margin-bottom: 6%;
}
#signin{
    width: 40%;
    margin-left: auto;
    margin-right: auto;

}
#signup{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#recetas{
    margin-top: 10px;
    margin-left: 8px;
    text-align: justify;

}
.bullets{
    margin-left: 3%;
}

/* Pag de Contacto*/
#contacto{
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
#caja{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(179, 105, 179);
}


footer{
    background-color:rgb(136, 135, 135) ;
}

/*Media Queries */

/*FlipCard XL-m */
@media screen and (min-width:800px){
    .titulosrec{
        display: none;
    }



    /*Animacion flip card*/

    .flipcontainer{
        position: relative;
        margin-bottom: 20px;

    }

    .flip-card{
        width: 200px;
        height: 200px;
        position: relative;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
    .flip-card:hover{
        transform: rotateY(180deg);

    }

    a{
        color: white;
    text-decoration-style: none;

    }
    a:hover{
        color: white;
        
        text-decoration: none;

    }

    .back{
        width: 200px;
        height: 200px;
        padding: 12%;
        background-color:  rgb(136, 135, 135);
        color: white;
        font-size: 2rem;
        text-align: center;
        transform: rotateY(180deg);
        display: flex;
            justify-content: center; 
            align-items: center;
        

    }
    .front, .back{
        position: absolute;
        backface-visibility: hidden;
    }

}

/* Links de Recetas de m para abajo*/
@media screen and (max-width:799px){

    .reclink{
        display: none;
    }
    

}


/* XL*/
@media screen and (min-width: 1301px){

}
/* Large - Desktop */
@media screen and (min-width: 990px) and (max-width:1300px){
    

}
/* Medium */
@media screen and (max-width:989px) and (min-width:580px){

}

/* Small */
@media screen and (max-width:579px) and (min-width:580px) {
    
    
}


